@import "tailwindcss";

/* No Tailwind v4, usamos CSS padrão sempre que possível */
@layer base {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0; /* Use CSS puro aqui, é mais seguro e rápido */
    min-height: 100vh;
  }
}

.text-primary {
  color: #0c5a9e;
  /* color: #ff7c38; */
}

.bg-primary {
  background-color: #0c5a9e;
}